<section class="row" aria-label="about-me">
  <div class="offset-md-1 col-md-5 pt-4">
    <div class="font-style">
      <h2 class="about-me display-3">About <span class="text-danger highlight">Me</span></h2>
      <p class="font-style">
        I’ve worked remotely with international teams under
        <strong><em>agile workflows</em></strong>, contributing 30+ pull requests and collaborating across
        <strong><em>multiple time zones</em></strong>. My experience includes building features for an
        Angular-based chat application and supporting backend functionality using NestJS.
      </p>

      <p class="font-style">
        In addition to professional work, I independently developed a Flutter mobile app on
        <strong><em>Google Play</em></strong>, handling UI design, state management, local storage, and notifications.
        I’m currently expanding my frontend skill set by learning React and Next.js, with an interest
        in <strong><em>usability, accessibility, and scalable UI architecture</em></strong>. I’m now seeking my next
        full-time role where I can contribute to <strong><em>fast-moving product teams</em></strong> and grow as a
        frontend engineer.
      </p>
    </div>
  </div>
  <div class="container offset-md-1 col-md-5 pt-3">
    <ul #circleContainer class="list-unstyled pe-5 d-flex flex-wrap">
      <li class="item-outer">
        <i class="item fa-brands fa-js pe-2 pt-2 javascript-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-angular pe-2 pt-2 angular-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-react pe-2 pt-2 react-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-bootstrap pe-2 pt-2 bootstrap-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i class="item fa-solid fa-font-awesome pe-2 pt-2 fontawesome-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-sass pe-2 pt-2 sass-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-git-alt pe-2 pt-2 git-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-html5 pe-2 pt-2 html-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-css3-alt pe-2 pt-2 css-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fab fa-npm pe-2 pt-2 npm-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fa-brands fa-node-js pe-2 pt-2 node-js-color fa-fw fa-2x"></i>
      </li>
      <li class="item-outer">
        <i class="item fab fa-php pe-2 pt-2 php-color fa-fw fa-2x"></i>
      </li>
    </ul>
  </div>
</section>