<section class="row mt-5" aria-label="about-me">
  <div class="offset-md-1 col-md-5 pt-4">
    <div class="font-style">
      <h2 class="about-me h-4">About Me</h2>
      <p>
        Hello! My name is Noha, Udacity Frontend nanodegree and Route academy
        graduate who enjoys building websites and apps for the web. Seeking a
        junior position as software engineer, i started learning front end
        development back in 2021 after learning html & css on
        <a class="text-decoration-none" href="https://www.codecademy.com/"
          >codecademy</a
        >
      </p>
    </div>
  </div>
  <div class="offset-md-1 col-md-6 pt-3">
    <h4>Technologies & Tools I worked with:</h4>
    <ul class="list-unstyled pe-5 d-flex flex-wrap">
      <li>
        <i class="fa-brands fa-js pe-2 pt-2 javascript-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i class="fa-brands fa-angular pe-2 pt-2 angular-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i class="fa-brands fa-react pe-2 pt-2 react-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i
          class="fa-brands fa-bootstrap pe-2 pt-2 bootstrap-color fa-fw fa-2x"
        ></i>
      </li>
      <li>
        <i
          class="fa-solid fa-font-awesome pe-2 pt-2 fontawesome-color fa-fw fa-2x"
        ></i>
      </li>
      <li>
        <i class="fa-brands fa-sass pe-2 pt-2 sass-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i class="fa-brands fa-git-alt pe-2 pt-2 git-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i class="fa-brands fa-html5 pe-2 pt-2 html-color fa-fw fa-2x"></i>
      </li>
      <li>
        <i class="fa-brands fa-css3-alt pe-2 pt-2 css-color fa-fw fa-2x"></i>
      </li>
      <li><i class="fab fa-npm pe-2 pt-2 npm-color fa-fw fa-2x"></i></li>
      <li>
        <i class="fa-brands fa-node-js pe-2 pt-2 node-js-color fa-fw fa-2x"></i>
      </li>
      <li><i class="fab fa-php pe-2 pt-2 php-color fa-fw fa-2x"></i></li>
    </ul>
  </div>
</section>
