<section class="row" aria-label="about-me">
  <div class="offset-md-1 col-md-6 pt-4">
    <div class="font-style">
      <h2 class="about-me display-3">About <span class="text-danger fw-semibold">Me</span></h2>
      <p>
        I’ve worked remotely with international teams under
        <strong><em>agile workflows</em></strong>, contributing 30+ pull requests and collaborating across
        <strong><em>multiple time zones</em></strong>. My experience includes building features for an
        Angular-based chat application and supporting backend functionality using NestJS.
      </p>

      <p>
        In addition to professional work, I independently developed a Flutter mobile app on
        <strong><em>Google Play</em></strong>, handling UI design, state management, local storage, and notifications.
        I’m currently expanding my frontend skill set by learning React and Next.js, with an interest
        in <strong><em>usability, accessibility, and scalable UI architecture</em></strong>. I’m now seeking my next
        full-time role where I can contribute to <strong><em>fast-moving product teams</em></strong> and grow as a
        frontend engineer.
      </p>
    </div>
  </div>
  <div class="col-md-5 pt-3 d-flex">
    <ul class="list-unstyled d-flex flex-wrap justify-content-center align-items-center">
      <li class="item" #icon>
        <i class="fa-brands fa-js javascript-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-angular angular-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-react react-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-bootstrap bootstrap-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-css3-alt css-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-sass sass-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-git-alt git-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-html5 html-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-npm npm-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-node-js node-js-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-php php-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-font-awesome fontawesome-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-github github-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-figma figma-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-docker docker-color fa-fw font-size"></i>
      </li>
      <li class="item" #icon>
        <i class="fa-brands fa-flutter flutter-color fa-fw font-size"></i>
      </li>
    </ul>
  </div>
</section>