.form-control:focus {
  box-shadow: unset !important;
}
.hide {
  display: none;
}
iframe {
  opacity: 0;
  will-change: transform, opacity;
  transform-origin: center bottom;
}
.btn:disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important; /* Re-enables the cursor on hover */
}
