.layer {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.445);
  transition: all 0.5s;
}
.card:hover {
  .layer {
    opacity: 1;
  }
}

.card {
  opacity: 0;
  will-change: transform, opacity;
  transform-origin: center bottom;
}
