<div class="row">
  <div class="col-md-1" (resize)="onResize()" *ngIf="showIcons">
    <div
      class="d-flex flex-column contact-icons align-items-center justify-content-end"
      style="font-size: 1.5rem"
    >
      <a href="https://github.com/nohawaheed" target="_blank">
        <i class="fa-brands fa-github fa-fw pb-4 text-black"> </i>
      </a>
      <a
        href="https://www.linkedin.com/in/noha-waheed-074b5a20b/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin-in fa-fw pb-4 text-black"> </i>
      </a>

      <a href="mailto:nohawaheed.1991@gmail.com">
        <i class="fa-solid fa-envelope fa-fw pb-4 text-black"> </i>
      </a>
    </div>
  </div>
  <div class="col-md-6 ps-md-5">
    <h1 class="display-2">
      <span class="h2">Hello!</span> <br />
      I'm <span class="text-danger">Noha,</span> <br />Web Developer
    </h1>
    <p class="font-style ps-1">
      A software engineer specialized in coding beautiful things. <br />
      currently, focused on finding my first job.
    </p>
    <button class="btn btn-outline-light text-dark" type="button">
      <a class="nav-link" href="assets/resume/Noha Waheed-FrontEnd.pdf"
        >Download CV <i class="fa-solid fa-download"></i
      ></a>
    </button>
  </div>
  <div
    class="col-md-5 pe-md-5 d-flex justify-content-center align-items-center"
  >
    <img
      src="assets/images/photo1.webp"
      class="img-fluid rounded-circle pt-2"
      alt="my-portfolio-image"
    />
  </div>
</div>
