.contact-icons::after {
  content: "";
  height: 100px;
  width: 2px;
  background-color: #212529d6;
}

.contact-icons {
  height: 120%;
  i {
    color: #212529d6 !important;
    transition: all 0.5s;
  }
  i:hover {
    color: var(--primary-color) !important;
    transform: translateY(-5px);
  }
}

.portfolio-img {
  opacity: 0;
  will-change: transform, opacity;
  transform-origin: center bottom;
}

.btn {
  a {
    color: var(--white-color);
  }
  background-color: var(--bs-body-color);
  border-color: var(--bs-body-color);
  &:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.main-content {
  height: calc(100vh - 56px);
}
